<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotel_MS.Properties.Settings.HotelManagementSystemConnectionString"
            connectionString="Data Source=DESKTOP-UA4FIBG\SQLEXPRESS;Initial Catalog=HotelManagementSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>